.body-container {
  margin: 0 auto;
  font-family: sans-serif;
  /* padding: 0px 40px 40px 40px; */
}

@media screen and (max-width: 992px) {
  .body-container {
    padding: 10px;
  }
  .body-content {
    padding: 0px !important;
  }
}

.body-header {
  text-align: center;
  width: 100%;
}

.body-header h1 {
  margin-top: 10px;
  font-size: 66px;
  line-height: 1.3em;
  margin-bottom: 0;
  text-align: center;
  color: rgb(206, 46, 46)
}

.body-header h2 {
  font-size: 50px;
  line-height: normal;
  margin-top: 0;
  text-align: center;
}

.body-content {
  padding: 40px;
  margin: 0px;
  font-size: 26px;
}

.body-box-wrapper {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.body-box-container {
  padding-left: 20px;
  padding-right: 20px;
}

.body-box-title {
  padding-bottom: 20px;
  margin: 5px 0px 0px;
}

.main-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.3em;
  margin-bottom: 0px;
  color: rgb(206, 46, 46)
}

.sub-title {
  margin-top: 0px;
  text-align: center;
  font-size: 46px;
  line-height: 1.3em;
}

.body-box-content {
  padding-left: 70px;
  padding-right: 70px;
  line-height: 1.3em;
}

.outcome-title {
  border-width: 3px;
  border-style: solid;
  border-color: rgba(47, 47, 47, 0.23);
  border-top: none;
  border-left: none;
  border-right: none;
}

.outcome-title > h1 {
  font-size: 50px;
  line-height: 1.3em;
  margin-bottom: 0;
  text-align: center;
  color: rgb(206, 46, 46);
  padding: 15px;
}

.body-box-sub-content {
  padding: 40px 70px 70px 70px;
}

.check-marks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.check-mark-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.check-mark-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.check-mark-left li::before {
  content: '✓';
  margin-right: 30px;
  color: rgb(206, 46, 46)
}

.check-mark-right li::before {
  content: '✓';
  margin-right: 30px;
  color: rgb(206, 46, 46)
}

.check-mark-left li {
  font-size: 22px;
  padding-bottom: 6px;
  list-style-type: none;
  margin-bottom: 6px;
}

.check-mark-right li {
  font-size: 22px;
  padding-bottom: 6px;
  list-style-type: none;
  margin-bottom: 6px;
}
