.custom-button {
  width: 225px;
  background-color: rgb(206, 46, 46);
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-size: large;
  font-weight: bold;
  height: 42px;
  margin: 0 auto;
  cursor: pointer;

}

.custom-button:hover {
  background-color: rgb(232, 99, 99);
  transition: .5s ease;
}

.custom-button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
